

.X{
  background-color: blue;
}

.O{
  background-color: red;
}

.tile {
  border: 2px solid black;
  font-size: 10px;
  border-radius: 100px;
  height: 100px;
  width: 100px;
}


/*.inPlay {
  background-color: grey;
}*/
